<div class="container-fluid">
	<title> Event Management Create User</title>
	<div class="row">
		<div class="col-lg-2"></div>

		<div class="col-lg-8"  >
			<div class="jumbotron">
				<h2>User Details</h2>

				<%= form_for(@defaultuser, url:default_user_create_path(@defaultuser) ) do |f| %>
				
				<div class="field">
					<%= f.label :email %>
					<br />
					<%= f.email_field :email, autofocus: true %>
				</div>

				<div class="field">
					<%= f.label :password %>
					<% if @validatable %>
					<em>(<%= @minimum_password_length %> characters minimum)</em>
					<% end %>
					<br />
					<%= f.password_field :password, autocomplete: "off" %>
				</div>

				<div class="field">
					<%= f.label :password_confirmation %>
					<br />
					<%= f.password_field :password_confirmation, autocomplete: "off" %>
				</div>

				<div class="actions">
					<%= f.submit "Create User", class: "btn btn-primary" %>
				</div>
				<% end %>

			</div>
		</div>

		<div class="col-lg-2"></div>
	</div>
</div>
