<h1>Listing cases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stage</th>
      <th>Starting date</th>
      <th>Ending date</th>
      <th>Next hearing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.stage %></td>
        <td><%= c.starting_date %></td>
        <td><%= c.ending_date %></td>
        <td><%= c.next_hearing %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_case_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
