<div class="container-fluid">
	<div class="row">

		<%= form_tag(events_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Events" %>
		<%= submit_tag "Search", :name => nil %>
		<% end %>
		<br/>
		<div class="col-md-6" style="background-color:lavender;">
			<div id="calendar"></div>
		</div>

		<div class="col-md-4" style="background-color:lavenderblush;">
				<%= form_tag(events_import_path, :multipart => true) do %>
				<p>
					<%= file_field_tag(:file) %>
					<br />
					<%= submit_tag("Import File",class: "btn btn-primary") %>
					<!-- <%= link_to 'New Event', new_event_path,class: "btn btn-success", title:"Create Event", rel:'tooltip' %> -->
					<%= link_to 'New Event', new_event_path,class: "btn btn-success", "data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Create Event"  %>

				</p>
				<% end %>
			</br>
			
		</div>
	</div>
</div>
</div>

