<!-- <div class="container">
  <div class="jumbotron">
    <%= form_tag(events_import_path, :multipart => true) do %>
<p>
	<%= file_field_tag(:file) %>
<br />
	<%= submit_tag("Import File",class: "btn btn-primary") %>
	<% end %>
	</p>

<br>
  </div>
</div> -->

<%= form_tag(events_import_path, :multipart => true) do %>
<p>
	<%= file_field_tag(:file) %>
<br />
	<%= submit_tag("Import File",class: "btn btn-primary") %>  <%= link_to 'New Event', new_event_path,class: "btn btn-success" %>
</p>
	<% end %>
<div id="calendar"></div>
