<!DOCTYPE html>
<html>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Added script reference before fullcaledar loads -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js"></script> -->
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->

<head>
  <title></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified JavaScript. Should be included after including jquery. Hence moved to here from above references -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://panainfotech.com/"><b> Event Management</b></a>
    </div>
    <!-- <%if user_signed_in?%> -->
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to raw("Export File"), events_export_path, class: "btn btn-block", method: :post %></li>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <% if current_user.provider == 'google_oauth2'%>
		<li><%= link_to raw("Import Google Calendar"), events_importevent_path, class: "btn btn-block", method: :post %></li>
		<% end%> 

		<li><%= link_to "Account",accounts_path,  class: "btn btn-block"%></li>

      </ul>
    </div>
    
  </div>
  <!-- <%end %> -->
  <div id="user_nav" align="right">
	<%if user_signed_in?%>
	Signed in as <%= current_user.email%>. Not you?
	<%= link_to "Sign out", destroy_user_session_path%>
	<% else %>
	<%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path%>
	<% end %>
</div>
</nav>

<body>
<!-- <p ><%= notice %></p>
 <p ><%= alert %></p> -->
 
 <% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

 <%if user_signed_in?%>
<div class="row"></div>
<div class="col-md-2" style="background-color:lavenderblush;">
  <ul class="nav nav-pills nav-stacked">
    <li ><%= link_to 'Event Management', events_path %></li>
    <li><a href="#">Case</a></li>
    <li><%= link_to 'User Management', default_user_index_path %></li>
    <li><a href="#">Notification</a></li>
  </ul>
</div>
<% end %> 
<%= yield %>


</body>

</html>
