<div class="container-fluid">
	
		
		<div class="col-lg-8" >
			<p>
		<strong>Name:</strong>
		<%= @account.name %>
		</p>

		<p>
		<strong>Company:</strong>
		<%= @account.company %>
		</p>
	
		

	<br />
	<%if (current_user.has_role? :admin) %>
		<% if (@account.name.empty?) %>
			<%= link_to 'Create', new_account_path, class: "btn btn-primary" %>  
		<% else %>
			<%= link_to 'Edit', edit_account_path(@account), class: "btn btn-primary" %> 
		<% end %>
	<%end%>
	<%= link_to 'Back', events_path, class: "btn btn-default" %>
	</div>
</div>